@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "variables";

.base
{
    background-color: #ffcd21 !important;

    &__app-bar
    {
        position: fixed;
        background-color: #ffcd21 !important;

        &-row
        {
            padding: 0 40px !important;
        }

        &-logo{

            &-title{
                font-family: $strength-font;
                font-size: 2rem;
                font-weight: 600;
                text-decoration: underline;

                @media (max-width: 1000px){
                    display: none;
                }
            }
        }

        &-title
        {
            color: black;
            font-family: $title-font;
            text-decoration: none;
            font-size: 1.2rem !important;
            letter-spacing: 0.04rem;

            &:hover
            {
                border-bottom: 3px solid #262728;
                transition: border-bottom 0.5s ease-in-out;
            }
        }
    }

    &__container{
        padding: 20px !important;
        border-radius: 25px !important;
        margin-bottom: 20px !important;
        margin-top: 10px;

        &:hover{
            transition: border 1s ease;
        }
    }

    &__title
    {
        &-head
        {
            font-size: 3rem !important;
            font-family: $strength-font;
            font-weight: bold;
            color: #262728;

            @media (max-width: 1000px) {
                font-size: 2rem !important;
            }
        }

        &-text
        {
            font-size: 1.5rem;
            font-family: $strength-font;
            color: #262728;
        }
    }

    &__btn
    {
        &-info
        {
            font-family: $strength-font;
            font-size: 1rem !important;
            font-weight: 500 !important;
            letter-spacing: -0.04rem;
            color: white !important;
            border-radius: 10px !important;

            @media (max-width: 960px)
            {
                width: 100% !important;
            }
        }
    }

    &__registration_container{
        position: sticky;
        right: 5%;

        @media (max-width: 500px) {
            right: 0;
        }

        &-card{
            // #262728
            background-color: #ffffff9f !important;
            padding: 20px !important;
            border-radius: 15px !important;
            border: 1px solid black !important;

            &-title
            {
                font-family: $title-font;
                font-size: 2rem !important;
                font-weight: bold !important;
                color: #262728;
                text-decoration: #ffcd21 underline !important;
            }

            &-input{
            }

            &-btn
            {
                border-radius: 20px !important;
                width: 100%;
                font-size: 1.2rem;
            }
        }
    }
}

.home {
    &__user_card
    {
        padding: 20px 20px 20px 10px !important;
        border-radius: 20px !important;
        width: 100% !important;

        &-title{

            &-user{
                font-size: 3rem;
                font-family: $strength-font;
                padding: 10px 0;

                @media (max-width: 900px) {
                    font-size: 1.8rem;
                    letter-spacing: -0.02rem;
                }
            }

            &-price{
                font-size: 1.5rem;
                font-family: $strength-font;
            }
        }

        &-btn
        {
            border-radius: 15px !important;
            border: 1px solid black !important;
            font-family: $btn-font;
            letter-spacing: -0.02rem !important;
            font-size: 1rem !important;
        }
    }
}
